source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FsUnit
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget NCrontab
nuget NLog
nuget chessie
nuget FSharp.Compiler.CodeDom

github fsharp/FAKE modules/Octokit/Octokit.fsx