source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget xUnit ~> 1.9.2
nuget xUnit.runners ~> 1.9.2
nuget FsUnit.xUnit
nuget xunit.runner.visualstudio
nuget FAKE
nuget SourceLink.Fake
nuget NCrontab
nuget NLog
nuget chessie
nuget FSharp.Compiler.CodeDom
 
nuget jQuery
nuget knockoutjs
nuget Microsoft.AspNet.Razor
nuget Microsoft.AspNet.SignalR
nuget Microsoft.AspNet.SignalR.Core
nuget Microsoft.AspNet.SignalR.JS
nuget Microsoft.AspNet.SignalR.SystemWeb
nuget Microsoft.Owin
nuget Microsoft.Owin.Hosting
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Security
nuget Nancy
nuget Nancy.Owin
nuget Nancy.Viewengines.Razor
nuget Newtonsoft.Json
nuget Owin
nuget Microsoft.Owin.Diagnostics
nuget Microsoft.Owin.Cors
 
 

github fsharp/FAKE modules/Octokit/Octokit.fsx