<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chessie" version="0.1.1" targetFramework="net45" />
  <package id="Cronix" version="0.3.1" targetFramework="net45" />
  <package id="Cronix.Web" version="0.3.1" targetFramework="net45" />
  <package id="FSharp.Configuration" version="0.5.1" targetFramework="net45" />
  <package id="FSharp.Core" version="3.1.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Nancy" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Owin" version="1.2.0" targetFramework="net45" />
  <package id="ncrontab" version="2.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NLog" version="3.2.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>