<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cronix.Web</title>

    <script src="../Scripts/jquery-2.1.3.min.js"></script>
    <script src="../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="signalr/hubs"></script>
    <script type="text/javascript">
        $(function() {
           
        })
    </script>
    <style type="text/css">

		body {
		    text-align: center;
		}

    </style>

</head>
<body>
    <img src='@Url.Content("~/Content/nancy-logo.png")' alt="Nancy logo" /><br />
    This view was rendered using the SuperSimpleViewEngine
</body>
</html>
